html,
body {
  background-color: rgb(228, 228, 228);
  font-family: Verdana;
  font-size: 1em;
}

header {
  background-color: #343a40;
  color: rgba(255, 255, 255, 0.5);
}

.modalSpinner {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  z-index: 1000;
  background-color: rgb(228, 228, 228);
}

.spinner {
  margin-top: 200px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

#mensaje {
  margin-top: 213px;
  margin-left: 10px;
  white-space: nowrap;
}

.nav-item:hover {
  color: rgba(255, 255, 255, 0.8);
}

.nav-item {
  margin-right: 10px;
}

a {
  all: unset !important;
}

.dot-animation:after {
  content: ".";
  position: absolute;
  animation: dots 1.5s infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dots {
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

#contenido {
  position: relative;
  height: 100%;
  overflow: auto;
}

.cursor {
  cursor: pointer;
}

.total {
  position: absolute;
  font-size: 4.5vh;
  font-weight: bold;
  bottom: 30px;
  right: 0;
}

.card {
  background-color: rgb(104, 111, 133);
}

.card-body > * {
  color: white;
}

.container {
  width: 100%;
}

.grafico {
  position: fixed;
  bottom: 0;
  width: 100%;
}
#chart-container {
  position: relative;
  height: 45vh;
  width: 50vw;
  overflow: hidden;
}

#cartesEstadistiques {
  margin-left: 5vw;
}

.h3-estadisitiques {
  margin-left: 6vw;
}

.card-statics {
  height: 20vh;
  min-height: 150px;
  width: 13vw;
  min-width: 150px;
  line-height: 20vh;
}

.stats {
  padding: 2% 2% 2% 2%;
}

.top {
  margin-top: -10vh;
}

#contenedor-grafico {
  margin-top: -55vh;
  margin-left: -10vw;
  position: relative;
  height: 60vh;
  width: 60vw;
  overflow: hidden;
}
.margin {
  margin-top: 20vh;
}
.col-md-8 {
  margin-top: -20vh;
  margin-left: 4vw;
}

.radiologos {
  height: 10vh;
}

.radiologos h5 {
  font-size: 2.2vh;
}
.radiologos h6 {
  font-size: 1.5vh;
}

.h3-stats-radio {
  margin-left: 1vw;
}

.col {
  padding: 5px;
}

.btn {
  white-space: normal;
}

.botones {
  border: 2px black solid;
  background-color: white;
}

.btn-activo {
  background-color: rgb(99, 167, 99);
}

.excel {
  font-size: 2.2vh;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid;
}

.excel:hover {
  background-color: rgb(99, 167, 99);
}
