html,
body {
  background-color: lightgray;
  font-family: Verdana;
  font-size: 0.97em;
}

html {
  overflow-y: scroll;
}

body {
  overflow-y: auto;
}

header {
  background-color: #005187;
  color: white;
  font-weight: bold;
}

a {
  all: unset;
}

.mi-contenedor button {
  margin-right: 10px; /* o el valor que desees */
}

.icon {
  width: 25px;
  height: 25px;
}

.nav-item {
  margin-right: 10px;
}

.form-group {
  max-width: 45px;
  min-width: 45px;
}

.cursor {
  cursor: pointer;
}

.botonSeleccionado {
  background-color: lightsalmon; /* Cambia el color de fondo cuando está seleccionado */
}

.calendar {
  float: left;
  height: 20px;
}

.tabla {
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  margin-bottom: 15px;
}

.tabla thead {
  background-color: #697887;
  color: white;
}

.tabla th,
.tabla td {
  padding: 8px;
}

.tabla tbody tr {
  cursor: pointer;
}

.tabla tbody tr:hover {
  background-color: lightgray;
}

.realitzat {
  text-decoration: line-through;
}

.fila-espera {
  background-color: #aac7a4;
  font-weight: bold;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  z-index: 1;
  padding: 20px;
  width: 400px;
  height: fit-content;
  border-radius: 40px;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.custom-calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}

.custom-calendar button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #f5f5f5;
  color: #000;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-calendar button:hover {
  background-color: #e0e0e0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #f5f5f5;
}

.header h2,
.year-dropdown,
.month-dropdown {
  margin: 0;
}

.close-btn {
  cursor: pointer;
  font-size: 20px;
  border: none;
  background-color: transparent;
}

.nav-btn {
  font-size: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.save-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #45a049;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-height: 150px;
  overflow-y: auto;
  z-index: 1;
}

.dropdown-content button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Estilo para el día actual y seleccionado */
.custom-calendar button.selected {
  background-color: #66b3ff; /* Puedes ajustar el color según tus preferencias */
}

/* Estilo de hover para todos los días excepto el seleccionado */
.custom-calendar button:not(.selected):hover {
  background-color: #66b3ff; /* Mismo color que el día seleccionado */
}
