
*{
font-family: Verdana;
font-size: 1.5vh;

}

.container {
    /*medida de todo*/
    margin-top: 200px;
    width: 30%;
  }

  .card-body {
    background-color: rgb(133, 133, 161);
    border-radius: 30px;
  }

  #logo {
    /*medida logo general*/
    height: 60px;
  }

  /* Media query para pantallas con un ancho mínimo de 992px */
  @media (min-width: 992px) {}

  /* Media query para pantallas con un ancho máximo de 768px */
  @media (max-width: 768px) {
    .form-check-label {
      display: none;
    }

    #logo {
      /*Medida lgo pantalla pequeña*/
      height: 40px;
    }
  }