* {
  font-family: Verdana;
  font-size: 1.5vh;
}
body {
  background-color: rgb(228, 228, 228);
}

input {
  height: 45px;
}

select {
  height: 45px;
}

option {
  zoom: 1.15;
}

strong {
  color: white;
}

.container {
  /*medida de todo*/
  margin-top: 200px;
  width: 25%;
}

.card-body {
  background-color: rgb(80, 88, 112);
  border-radius: 30px;
}

#logo {
  /*medida logo general*/
  height: 100px;
}

.btn {
  width: 100%;
}
